<div class='headInter'>
	<div class='design'><div class='texte'>


		<p>Dans la TIM vous aprendrez</p>
		<ul>
		<li>Recherche visuel</li>
		<li>Maquettage</li>
		<li>Traitements des médias</li>
		<li>Ergonomie d'interface</li>
		</ul>

		<p class='titre'></p>

		<p class='ordi'></p>

	</div></div>

	<div class='normal'><div class='texte'>

		<p class='headlineDesign petit'>PLUS</p>
		<p class='headlineDesign arrow'>CRÉATIF?</p>

		<p class='headlineProg petit'>PLUS</p>
		<p class='headlineProg arrow'>LOGIQUE?</p>
	</div></div>

	<div class='prog'><div class='texte'>


		<p>Dans la TIM vous aprendrez</p>
		<ul>
		<li>PHP</li>
		<li>HTML5</li>
		<li>CSS3</li>
		<li>JavaScript</li>
		</ul>

		<p class='titre'></p>

		<p class='ordi'></p>
	</div></div>
</div>
