#blocAccueil{
  @include container;

  position:relative;

  background-clip:border-box;



  padding: 2em;
  padding-left: 3em;
  width: 90%;
  box-shadow: 1px 4px 50px grey;
  margin-bottom: 8em;
}

section{
  clear:both;
}

.event{
  background-color:$blanc;
}

//Boite des réseaux sociaux
.rsociaux{
  background-color:$accent;
  margin-top: 10em;

  p{
    word-wrap:break-word;
    color:white;
  }

  img{
    width:span(1.2);
    float:left;
    margin-right:span(0.5);
  }

  .facebook{
    @include post(1 of 12)
  }

  article{
    box-sizing:content-box;
    width:span(4);
    float:left;
  }

  .date{
    font-size: 1.7rem;
    color: #343803;
    font-family:ralewaySemiBold;
  }

  .article{
    font-size: 2.1rem;
  }

}

//GALLERIE

//IMAGES

#galerie {

  overflow:hidden;

  ul{
    list-style:none;
    padding-left:0;
  }

  li{
    padding:0;
    position:relative;
  }

  li:hover{
    #description{
      visibility:initial;
      height: 100%;

    }

    button{
      animation: button-bubble-up 0.4s; /* IE 10+, Fx 29+ */
      animation-delay:0.2s;
      animation-fill-mode: forwards;
    }

  }

  #description{

    visibility:hidden;
    overflow:hidden;

    //Animation
    height:0;
    transition:all 0.4s ease;

    position:absolute;
    background-color:rgba(149, 19, 104, 0.8);

    right:0;
    left:0;
    bottom:0;

    h3{
      color:$design;
      background-color:white;
      padding:1em;
      margin-top: 1em;
      text-transform: uppercase;
    }

    button{
      position:absolute;
      right:25px;
      bottom:10px;
      background-color:$design;
      box-shadow:none;
      border: 2px solid $blanc;
      border-radius:20px;
      width: 250px;

      transform:scale(0);
    }
  }


  img{
    width:100%;
  }

  a{
    width:100%;
  }

  li{

    float:left;
    padding:0;

    @include breakpoint (min-width 768px) {
       width: 50%;
     }

    @include breakpoint (min-width 1400px) {
      width: 33%;
      width: -moz-calc(100% / 3);
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
    }

    @include breakpoint (min-width 1900px) {
      width: 25%;
    }
  }

}


//ENTÊTE




//Boite des événements
.event{
  margin-top: 5em;

  h2{
    font-size: 4.5rem;
    line-height:40px;
    text-transform:uppercase;
    color: white;
  }

  .titre{
    position:absolute;

    top:0;
    left:0;
    bottom:0;

    @include breakpoint ($large) {
      padding:1.6em 2em 3em 3em;
    }

    padding:3em 2em 3em 3em;
    line-height:10px;
    width: span(4);
    background-color:$accent;
    @include post(1 of 12);

    p{
      color: #343803;
      font-size: 2.9rem;
      position:absolute;
      z-index:1;
    }

    h2{
      position:absolute;
      z-index:1;
      margin-top: 70px;
    }
  }

  .titre:after{
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    width: 70%;
    top: 0;
    position: absolute;
    right: -53px;
    transform: skewX(-20deg);
    transform-origin: 100%;
    z-index: 0;
  }

  .texte{
    width: 55%;
    float:left;
    margin-top:1em;
    margin-left:span(5);

    p{
      font-size: 2.5rem;

      @include breakpoint ($large) {
        font-size: 2rem;
      }

    }
  }

  .lien{
    float:right;
  }

}