footer{
  color:$blanc;
  background-color: $noir;
  padding-top: 1rem;
  width:100%;
  overflow: auto;

  .titre-navigation{
    font-size: 3rem; 
    border-bottom: 2px solid $blanc;
    width:35rem;
  }

  ul li{
    list-style: none;
    margin-bottom:-1.8rem;
    a{
      text-decoration: none;
    }
  }

  #naviguer{
    float:left;
    width:33.3333333%;
    padding-left: 2rem;
  }

  #communiquer{
    float:left;
    width:33.33333333%;
  }

  #nous-voir{
    float:left;
    width:32%;
    background-color: $noir;

    #footer-heures{
      p{
        font-size: 1.7rem;
      }
    }

    .jour-semaine{
      font-weight: bold;
    }
  }

  a#footer-lien-joindre{
      text-decoration: none;
      border:2px solid $blanc;
      color:$blanc;
      padding:1rem;
      padding-left:11.5rem;
      padding-right: 11.5rem;
      &:hover{
        border:2px solid $neutre;
        color:$neutre;
      }
  }  

  #reseaux-socieaux{
    padding-left: 9rem;
    a{
      color:$blanc;

      &:hover{
        color:$neutre;
      }
    }
  }

  #icone-twitter{
    margin-left:5rem;
  }

  #tel-reservation{
    margin-left: 5.3rem;
    margin-bottom: 4rem;
  }
}
#copyright{
    clear:both;
    color:$noir;
    background-color: $blanc;
    width:500rem;
    text-align: center;
    margin:auto;
    @include container;
  }