#header-accueil{
	height:65rem;
	background-image: url("../images/la-place.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	margin-bottom: 5rem;

	nav{
		position:relative;
		top:59rem;
		text-align: center;

		ul li a{
			font-size:2rem;

			&:hover{
				border-bottom:3px solid $blanc;
				padding-bottom: 0.5rem;
			}
		}
	}

	#num-telephone{
		position: absolute;
	    top: 0;
	    right: 5rem;
	    color: $blanc;
	}
}

header{
  	background-color:#292929;

  	nav ul{
	  @include container;
	  padding-left:2em;
	  padding-right:2em;
	}


  	//Menu principal
  	ul{

	  li{

		display: inline-block;
		margin-right:1em;
		padding-left:0.5em;
		padding-right:0.5em;
		padding-top:15px;
		height:49px;

		a{
		  color:$blanc;
		  text-decoration: none;

		  padding-top:20px;
		  padding-bottom:20px;

		  font-family: ralewayMedium;
		  font-size: 1.6rem;
		  text-transform: uppercase;
		}
		list-style: none;
	  }

	  margin:0;
	  padding-left:0;
	}

}
