.triangle{
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 30px solid $prog;
		margin-left: 17rem;
	}

/******************Page accueil*/
#page-accueil{

	h2{
		margin-bottom:2rem;
	}

	a.btn-accueil{
		border:2px solid $noir;
		text-decoration: none;
		color:$noir;
		padding: 1rem;
	    padding-left: 3rem;
	    padding-right: 3rem;
	}

	#section-promo{
		text-align: center;
		#img-gauche{
			float:left;
			width:50%;
		}

		#contenu-droite{
			float:left;
			width:50%;
		}
	}
	

	#section-degustation{
		clear:both;
		text-align: center;
		margin-bottom: 3rem;

		#img-droite{
			float:right;
			width:50%;
			margin-bottom:5rem;
		}

		#contenu-gauche{
			float:left;
			width:50%;

			#lien-whiskeys{
				color:$noir;
				text-decoration: none;
    			border-bottom: 1px solid black;
			}
		}
	}
}

/*****************Page Joindre*****/
#page-joindre{
 	
 	h1{
 		background-image:url("../images/le_pub.jpg");
 		background-size:100%;
 		background-position: center;
 		font-size: 10rem;
 	}

	h2{
		text-align: center;
		margin-bottom:3rem;
	}

	#description{
		@include container;
		padding:5rem;
		text-align: center;
	}

	#section-formulaire{
		@include container;

		margin-top:5rem;
		padding-top:5rem;
		padding-bottom: 5rem;
		border-top:2px $neutre solid;
		border-bottom:2px $neutre solid;
	}

	#section-gauche{
		float:left;
		width:40rem;
		margin-left:20rem;
	}

	#section-droite{
		float:right;
		width:45rem;
		margin-right:10rem;
	}

	input[type="text"],select{
		width:40rem;
		height:4rem;
		border:2px $prog solid;
		border-radius: 3px;
		margin-top:1rem;
		background-color:$blanc;
		font-size:1.6rem;
		padding-left: 0.5rem;
	}

	textarea{
		border:2px $prog solid;
		border-radius: 3px;
		width:40rem;
		height:38.4rem;
		margin-top:1rem;
		padding-left: 0.5rem;
	}

	#box-adresse{

		text-align: center;
		margin-top:5rem;
		margin-bottom:10rem;
		width:102.4rem;
		margin-left:auto;
		margin-right:auto;

		#lien-adresse{
			background-color: $blanc;
			border:2px $design solid;
			border-top: none;
			margin:auto;
			margin-top:-2.5rem;
			width:102.4rem;
			text-align:left;
			padding-top: 1.5rem;
			padding-left: 2.5rem;
			padding-bottom: 1.5rem;

			a{
				text-decoration: none;
			}
		}
	}

	#bt-envoyer{
		float:right;
		margin-right:5rem;
		width:20rem;
	}
}
@media screen and (max-width: 1800px){
	#joindre{
		#section-gauche{
			margin-left: 20%;
		}

		#section-droite{
			margin-right: 20%;
		}
	}
}

@media screen and (max-width: 1440px){
	#stages{
		.box-contact{
			padding-left:0;
			height:100%;

			h2{
				font-size: 5rem;
			}

			.img_contact{
				width:35rem;
				padding-top: 0;
			}
		}

		.bt_contact{
			top:2rem !important;
		}

		#lien-infos-stages-inter{
			top:5rem;
			margin-left: 0;
		}

		#troisannee{
			width:80rem;
			margin-left: 20%;
		}

		#undeuxannee{
			width:80rem;
			margin-left: 20%;
			float:left;
		}

		.titre-semaine-stage{
			width:48%;
		}

		.dates-stages{
			width:57%;
		}

		.triangle{
			margin-left: 45%;
		}
	}

	#ate{
		.triangle{
			margin-left: 46%;
		}
	}

	.box-contact{
		padding-left:0;
		height:100%;

		#texteDroite{
			width:50%;
		}
	}

	#joindre{
		#section-gauche{
			margin-left: 7%;
		}

		#section-droite{
			margin-right: 7%;
		}
	}
}

@media screen and (max-width: 1024px){
	#stages{
		.box-contact{
			padding-left:0;
		height:100%;

			h2{
				font-size: 5rem;
			}

			.img_contact{
				width:35rem;
				padding-top: 0;
			}
		}

		.bt_contact{
			top:1rem !important;
		}

		#lien-infos-stages-inter{
			top:4rem;
			margin-left: 0;
		}

		#troisannee{
			width:60rem;
			margin-left: 20%;
		}

		#undeuxannee{
			width:60rem;
			margin-left: 20%;
			float:left;
		}

		.titre-semaine-stage{
			width:50%;
		}

		.dates-stages{
			width:57%;
		}

		.triangle{
			margin-left: 45%;
		}
	}

	.box-contact{
		padding-left:0;
		height:100%;

		#texteDroite{
			width:100%;
		}
	}

	#joindre{
		#section-gauche{
			margin-left: 3%;
			width:33%;
		}

		input[type="text"]{
			width:34rem;
		}

		select{
			width:34rem;
		}

		textarea{
			width:35rem;
		}

		#section-droite{
			margin-right: 0;
			width:36rem;
		}
	}
}

@media screen and (max-width: 768px){

/***************Page Stages*/
	#stages{

	h3{
		background-color: $design;
		color:$blanc;
		font-family: "ralewayRegular";
		font-size:2.5rem;
		padding:2rem;
		margin-bottom: 0rem;
	}

	h5{
		@include visuallyhidden;
	}

	#dates-stages{

		@include container;
		text-align: center;
		border-top: 2px $neutre solid;
		border-bottom: 2px $neutre solid;
		margin-top: 5rem;

		a{
			margin-bottom: 1rem;
		}
	}

	#texteStages{
		text-align:center;
		padding-bottom: 10rem;

		ul{
			li{
				list-style: none;
			}
		}
	}

	#troisannee{
		float:none;
		width:100%;
		margin-left:0 !important;
	}

	#undeuxannee{
		width:100%;
		float:none;
		margin-left:0;
	}

	.dates-stages{
		float:right;
		height:10rem;
		width:25rem;
		padding-top:4rem;
		border: 1px solid $design;
	}

	.box-contact{
		height:142rem;

		.img_contact{
			width:100%;
			padding-top:3rem;
		}

		#texteDroite{
			width:100%;
		}
	}

	.bt_contact{
		top:3rem !important;
		font-size: 2rem !important;
	}

	#lien-infos-stages-inter{
		top:7rem;
		margin-left:0rem;
	}

	.triangle{
		margin-left:34rem;
	}

	.titre-semaine-stage{
		width:45%;
	}

	.dates-stages{
		width:60.5%;
	}
}

/*************************Page ATE*/
#ate{
	#stages-ate{
		margin-top:2rem;
	}

	h1{
		padding-left:2rem;
		font-size:4.5rem;
	}

	h2{
		font-size:2.5rem;
	}

	#ate-premiere{
		float:none;
		width:100%;
		min-height: 0;

		h2{
			padding:2rem;
		}
	}

	#ate-deuxieme{
		width:100%;
		padding-bottom:3rem;
		min-height: 0;
		float:none;
		
		h2{

			padding:2rem;
		}
	}

	#caracteristiques-ate{

		h2{
			padding:2rem;
		}
	}

	.triangle{
		margin-left:45%;
	}
}

	#international{
		h1{
			padding-top: 12rem;
		}
	}

	/*****************Page Joindre*****/
#joindre{
	
	#section-gauche{
		float:none;
		width:95%;
		margin-left:2rem;
		margin-bottom: 5rem;
	}

	#section-droite{
		float:none;
		width:95%;
		margin-left:2rem;
	}

	input[type="text"],select{
		width:97%;
	}

	textarea{
		width:97%;
	}

	#box-adresse{

		text-align: center;
		margin-top:5rem;
		margin-bottom:10rem;

		#lien-adresse{
			background-color: $blanc;
			border:2px $design solid;
			border-top: none;
			margin:auto;
			margin-top:-2.5rem;
			width:102.4rem;
			text-align:left;
			padding-top: 1.5rem;
			padding-left: 2.5rem;
			padding-bottom: 1.5rem;

			a{
				text-decoration: none;
			}
		}
	}

	#bt-envoyer{
		float:none;
		width:97%;
	}

	.box-contact{
		height:126rem;
	}

	.bt_contact{
		top:4rem !important;
	}
}

}

@media screen and (max-width: 450px){
	#stages{
		.bt_contact{
			margin-left: 0 !important;
		}

		#lien-infos-stages-inter{
			margin-left: 0 !important;
		}

		.box-contact{
			height:108rem;
		}

		.triangle{
			margin-left: 18.5rem;
		}
	}

	#ate{
		.triangle{
			 margin-left:42%;
		}
	}

	#joindre{
		.box-contact{
			height:89rem;
		}
	}
}

@media screen and (max-width: 400px){
	#stages{

		.box-contact{
			height:102rem;
		}

		.triangle{
			margin-left: 16rem;
		}

		.dates-stages{
			width:61%;
		}

		.titre-semaine-stage{
			width:50%;
		}
	}

	#ate{
		.triangle{
			 margin-left:41%;
		}
	}

	#joindre{
		.box-contact{
			height:84rem;
		}

		.bt_contact{
			font-size: 2rem;
		}
	}
}
































