.profil, .formation{
  width: 40%;
  margin: 5%;
  float: left;
  padding:50px;
  text-align: center;
  min-height: 550px;
  position:relative;
  p{
    line-height: 36px;
    min-height: 250px;
  }
  h2{
    margin-bottom: 20px;
    min-height: 100px;
  }
}

.fullscreenForm{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  transition:all ease 1s;
  overflow: hidden;
  background-color: #1d837b;
  color:white;
  z-index:10;
  background-image: url(../images/logoTim.svg);
  background-position: 3% 4%;
  background-repeat: no-repeat;
  background-size: 8%;
  form{
    z-index: 2;
    height:100%;
    width:75%;
    margin:0 auto;
  }
  h3{
    margin-bottom: 35px;
    border-bottom: 2px solid white;
    padding-bottom: 55px;
  }
  h2.nomQuiz{
    margin-left: 12%;
    margin-top: 2%;
    font-size: 30px;
    border-left: 2px solid#96cbc7;
    padding: 13px;
    color: #96cbc7;
  }
  button{
    position: absolute;
    z-index:100;
  }
  &.hidden{
    overflow: hidden;
    height: 0;
  }
  fieldset{
    border: none;
    // visibility:hidden;
    position: absolute;
    top:-50%;
    width: inherit;
    padding-top: 13%;
    padding-bottom: 10%;
    transition: all ease 0.5s;
    transition-delay: 0.6s;
    opacity:0;
    &.current{
    transition-timing-function: ease-out;
    visibility:visible;
    top:0%;
    opacity:1;
    }
    &.movingOut{

      transition-timing-function: ease-in;
      top:80%;
      visibility:visible;
      opacity:0s;
    }
    button{
      bottom:120px;
    }
  }
  .btnContinuer{
    position: absolute;
    bottom: 0px;
    right: 30px;
    animation: button-bubble-up 0.5s; /* IE 10+, Fx 29+ */
    transition: all ease-in-out;
  }
  .btnFermerQuiz{
    right: 10px;
    background-color: transparent;
    box-shadow: none;
    color: black;
    font-size: 50px;
    top: 40px;
    opacity: 0.7;
    width: 130px;
    line-height: 20px;
    span{
      white-space: pre ;
      font-size: 12px;
    }
  }
  /* Progression */
  .progression{
    display: block;
    background-color: $design;
    height:25px;
    position: absolute;
    bottom:0;
    transition:all ease 0.3s;
    width:0;
    transition-delay: 0.6s;
  }
  .progressionChiffre{
    position: absolute;
    top: 24%;
    right: 27px;
    left: auto;
    overflow:hidden;
    font-size: 3rem;
    font-family: "ralewayThin";
    padding-top: 25px;
    width:100px;
    text-align: right;
    span{
      display: block;
      // float: left;
      position:absolute;
      right:-60px;
      padding-right: 9px;
      margin-right: 105px;
      font-size: 4rem;
      margin-top: -7px;
      // bottom:0;
      &.fs-current-number{
        bottom:0;
      }
    }
  }
  #timQuizFormation ~ .controls .progressionChiffre{
    position: absolute;
    top: 32%;
    right: 38px;
    left: auto;
    span{
      right:-73px;
      &.fs-current-number{
        bottom:-4px;
      }
    }
  }
  /* Dot navigation */
  .nav-dots {
    position: absolute;
    top: 50%;
    right: 60px;
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .nav-dots button {
    position: relative;
    display: block;
    padding: 0;
    margin: 16px 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: transparent;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav-dots button::before,
  .nav-dots button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    content: '';
    text-indent: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .nav-dots button::after {
    background-color: rgba(0,0,0,0.4);
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
    transform: perspective(1000px) rotate3d(0,1,0,180deg);
  }
  .nav-dots button:disabled::before,
  .nav-dots button:disabled::after{
    opacity:0.3;
  }

  .nav-dots button:disabled,
  .nav-dots button:disabled{
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.1);

  }

  .nav-dots button.dot-current {
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
    transform: perspective(1000px) rotate3d(0,1,0,180deg);
    pointer-events: none;
  }

  .nav-dots button:hover:enabled::before,
  .nav-dots button.dot-current:enabled::before {
    // background: #fffed8;
    background: $accent;
    transition:all ease 0.3s;
  }
  #validerQuizProfil{
    bottom: 30%;
    right: calc(50% - 128px;);
    animation: button-bubble-up 0.5s; /* IE 10+, Fx 29+ */
    transition:all ease-out 0.5s;
    transition-delay: 0.6s;
  }
}

.resultat{
  position:absolute;
  z-index: 10;
  width:65%;
  top:30%;
  left:20%;
  color:white;
  animation: fadein 1s;
  // animation-delay:0.6s;
  transition:all ease-out;
  // transition-delay: 0.6s;
  p{
    font-size: 2.6rem;
    line-height: 5.6rem;
  }
  &.card{
    background-color: darken($prog, 3%);
    padding:5rem;
  }
}











/*=================================
=            Animation            =
=================================*/

// Radio button
@-webkit-keyframes radio-bubble-up {
  0%   { transform: scale(0) }
  60%  { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@-moz-keyframes radio-bubble-up {
  0%   { transform: scale(0) }
  60%  { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@-o-keyframes radio-bubble-up {
  0%   { transform: scale(0) }
  60%  { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes radio-bubble-up {
  0%   { transform: scale(0) }
  60%  { transform: scale(1.5) }
  100% { transform: scale(1) }
}

// Affichage resultat
@keyframes fadein{
  0%    {opacity:0}
  60%   {opacity:0}
  100%  {opacity:1}
}

/*=====  End of Animation  ======*/


/*====================================
=            Radio button Quiz           =
====================================*/

.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 24px;
  line-height: 49px;
  cursor: pointer;
  text-transform: capitalize;
  width: 24%;
}

.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner {
  animation: radio-bubble-up 0.7s; /* IE 10+, Fx 29+ */
  opacity: 1;
}
.radio input:checked + .outer .inner {
  transform: scale(1);
}

.radio input:checked + .outer { border: 3px solid $design; }

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: $design;
}

.radio .outer {
  width: 36px;
  height: 36px;
  display: block;
  float: left;
  margin: 6px 9px 10px 10px;
  border: 3px solid $design;
  border-radius: 50%;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 20px;
  height: 20px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  // margin: 2px;
  border-radius: 50%;
  background-color: $design;
  opacity: 0;
  margin-left: 5px;
  margin-top: 5px;
}
/*=====  End of Radio button Quiz  ======*/


/* Animations for numbers */
/* Show next number */
.fs-new-number {
  -webkit-animation: animMoveUpFromDown 0.4s both;
  animation: animMoveUpFromDown 0.4s both;
}
// @-webkit-keyframes animMoveUpFromDown {
//   from { -webkit-transform: translateY(100%); }
//   to { -webkit-transform: translateY(0); }
// }

// @keyframes animMoveUpFromDown {
//   from { -webkit-transform: translateY(100%); transform: translateY(100%); }
//   to { -webkit-transform: translateY(0); transform: translateY(0); }
// }

@-webkit-keyframes animMoveUpFromDown {
  to { -webkit-transform: translateY(-100%); }
}

@keyframes animMoveUpFromDown {
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.fs-animUp {
  -webkit-animation: animMoveUp 0.4s both;
  animation: animMoveUp 0.4s both;
}

@-webkit-keyframes animMoveUp {
  to { -webkit-transform: translateY(-150%); }
}

@keyframes animMoveUp {
  to { -webkit-transform: translateY(-150%); transform: translateY(-150%); }
}

/* Show previous number */
.fs-numbers.fs-show-prev .fs-number-new {
  -webkit-animation: animMoveDownFromUp 0.4s both;
  animation: animMoveDownFromUp 0.4s both;
}

@-webkit-keyframes animMoveDownFromUp {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.fs-numbers.fs-show-prev .fs-number-current {
  -webkit-animation: animMoveDown 0.4s both;
  animation: animMoveDown 0.4s both;
}

@-webkit-keyframes animMoveDown {
  to { -webkit-transform: translateY(100%); }
}

@keyframes animMoveDown {
  to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
