$blanc : #FFFFFF;
$noir : #000000;
$design : #951368;
$prog : #1d837b;
$accent : #b8c326;
$neutre : #ababab;
$back : #fbfbfb;
$erreur : #b00000;
$succes : #04ae00;
$erreur : #DE0000;
$darkGray: #3a3a3a;